.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table td {
  width: 60px;
  height: 30px;
  text-align: center;
  vertical-align: center;
}

.classRoom {
  display: flex;
  place-content: center;
  padding-top: 30px;
}

.editList {
  position: absolute;
  right: 20px;
  font-size: 1rem;
}

.partRazmer {
  width: 130px;
  height: 50px;
}

.cl {
  display: flex;
  justify-content: center;
}


/*table[data-name='klass'] td:nth-child(3n) {
  border: 1px solid #e5e5e5;
}*/

.studentSelect {
  background-color: #59e29e !important;
}

.partaPusto {
  background-color: #ffad7a;
  border: 1px solid #f8f8f8;
}

.partaNikogo {
  background-color: #c1c1c1;
  border: 1px solid #f8f8f8;
}

.partaPusto span {
  display: none;
}

/*.partaPusto:hover span {
  display: block;
  font-size: 1.2em;
}*/

.prohod {
  background-color: white;
  border: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
